[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
aiohttp = "*"
numpy = "*"
pandas = "*"
pytz = "*"
isoweek = "*"

[dev-packages]
behave = "*"
coverage = "*"
coveralls = "*"
flake8 = "*"
pytest = "*"
pytest-asyncio = "*"
setuptools = "*"
tox = "*"
twine = "*"
