[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
aiohttp = "*"
isoweek = "*"
numpy = "*"
pandas = "*"
python-dateutil = "*"

[dev-packages]
behave = "*"
coverage = "*"
coveralls = "*"
flake8 = "*"
jupyter = "*"
mypy = "*"
pytest = "*"
pytest-asyncio = "*"
seaborn = "*"
